<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 txt-center">
				<div>
								<ul class="list-inline">
											<li>1-877-333-4444</li>
											<li class="divider">|</li>
											<li>© 2016 Trifin Labs, All Rights Reserved.</li>
											<li class="divider">|</li>
											<li><a href="http://trifinlabs.com">TriFinLabs.com</a></li>
									</ul>
							</div>
			</div>
		</div>
	</div>
</footer>
